<form>
  <h1>ALterar Medico</h1>

  <mat-form-field class="form">
    <mat-label>Nome</mat-label>
    <input
      matInput
      [(ngModel)]="medico.nome"
      type="text"
      name="nome"
      placeholder="Informe o nome"
    />
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Nascimento</mat-label>
    <input
      matInput
      name="dataNascimento"
      placeholder="Informe data de nascimento"
      [matDatepicker]="myDataPicker"
      [max]="maxDate"
      [(ngModel)]="medico.dataNascimento"
    />
    <mat-datepicker-toggle
      [for]="myDataPicker"
      matSuffix
    ></mat-datepicker-toggle>
    <mat-datepicker #myDataPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Especialidade</mat-label>
    <input
      matInput
      [(ngModel)]="medico.especialidade"
      type="text"
      name="especialidade"
      placeholder="Informe Especialidade"
    />
  </mat-form-field>

  <div class="buttons">
    <button
      class="mat-elevation-z8"
      (click)="update()"
      mat-stroked-button
      color="primary"
    >
      Alterar
    </button>
    <button
      class="mat-elevation-z8"
      (click)="cancel()"
      mat-stroked-button
      color="warn"
    >
      Cancelar
    </button>
  </div>
</form>
